html,
body,
div {
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
}

::selection {
  background-color: #222;
  color: #FFF;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header"". content .""footer footer footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-areas: "logo""links";
}

header .logo {
  text-align: center;
}

header img {
  grid-area: logo;
  height: auto;
  width: 80vw;
  max-width: 375px;
  margin: 1rem;
  text-align: center;
}

header nav {
  grid-area: links;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

header nav a {
  font-family: proxima-nova, sans-serif;
  padding: 0.5rem 1rem;
  background: linear-gradient(118.8deg, hsl(213.1, 100%, 58.4%), hsl(224.4, 100%, 55.5%));
  -webkit-box-shadow: 0 10px 20px hsla(225, 70%, 50%, 0.19), 0 6px 6px hsla(225, 100%, 60%, 0.23);
  box-shadow: 0 8px 20px hsla(225, 70%, 50%, 0.19), 0 4px 6px hsla(225, 100%, 60%, 0.23);
  text-decoration: none;
  border-radius: 5px;
  color: white;
  margin: 0.25rem;
  font-weight: 300;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) all 0.22s;
}

header nav a:hover {
  border-color: hsla(225, 70%, 50%, 1);
  font-weight: 300;
  box-shadow: 0 8px 15px 2px hsla(224.9, 70.2%, 50%, 0.32), 0 4px 6px hsla(225, 100%, 60%, 0.55);
}

.content {
  grid-area: content;
}

p,
ul {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "salt", "ss##", "c2sc";
  -webkit-font-feature-settings: "liga", "salt", "ss##", "c2sc";
  font-feature-settings: "liga", "salt", "ss##", "c2sc";
  font-family: proxima-nova, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.6;
  letter-spacing: -0.035em;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  text-align-last: start;
  max-width: 65ch;
  margin: 0 auto 0.5rem;
  font-stretch: semi-condensed;
}

pre {

  max-width: 65ch;
  margin: 1rem auto;
  border-left: 3px solid #222;
  padding-left: 1rem;
}

ul {
  margin: auto;
  list-style-position: outside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "salt", "dlig", "calt";
  -webkit-font-feature-settings: "liga", "salt", "dlig", "calt";
  font-feature-settings: "liga", "salt", "dlig", "calt";
  margin-top: 1.5rem;
  font-family: abril-display, serif;
  text-align: center;
  font-weight: 300;
  text-decoration: underline dotted;
  text-decoration-color: hsla(225, 100%, 60%, 1);
  text-shadow: 1px 1px 2px hsla(225, 100%, 60%, 0.4);
}

footer {
  grid-area: footer;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  line-height: 1;
  font-size: 80%;
  font-style: normal;
  font-weight: 300;
  padding: 2rem 0;
  background: linear-gradient(to bottom, #fff, #ddd);
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 90vw;
}

#gallery img {
  width: 100%;
  height: auto;
}

img#index_img1 {
  shape-outside: ellipse(141px 147px at center center);
}

  table {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border: solid thin;
  border-collapse: collapse;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
}

table caption {
  padding-bottom: 0.5em;
}

table th,
table td {
  border: solid thin;
  padding: 0.5rem 2rem;
}

table td {
  white-space: nowrap;
}

table th {
  font-weight: normal;
}

table td {
  border-style: none solid;
  vertical-align: top;
}

table th {
  padding: 0.2em;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 767px) {

  img#index_img1 {
    shape-outside: none;
  }

  p,
  ul {
    line-height: 1.6;
    letter-spacing: -0.035em;
    font-weight: 300;
  }
  

table {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border: solid thin;
  border-collapse: collapse;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
}

table caption {
  padding-bottom: 0.5em;
}

table th,
table td {
  border: solid thin;
}

table td:first-child {
  white-space: nowrap;
}

table th {
  font-weight: normal;
}

table td {
  border-style: none solid;
  vertical-align: top;
}

table th {
  padding: 0.2em;
  vertical-align: middle;
  text-align: center;
}
}
